mlflow==2.22.1
cloudpickle==3.1.1
matplotlib==3.10.3
monai==1.4.0
numpy==1.26.4
pandas==2.2.3
psutil==5.9.8
scipy==1.15.3
tensorboard==2.19.0
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tqdm==4.67.1